html {
  height: 100%;
}
body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  background-repeat: no-repeat;
}

h2 {
  color: #272244;
  margin-bottom: 0;
}

ul {
  color: #272244;
  list-style: none;
  padding-left: 0;
}

li {
  text-transform: capitalize;
}
img {
  max-width: 4rem;
  max-height: 4rem;
  padding: 0;
  margin: 0;
}
a {
  display: inline-block;
  font-size: medium;
}
.container-fluid {
  max-width: 600px;
  margin: 50px auto;
}

.weather-app {
  padding: 10px;
  border: 1px solid #272244;
  border-radius: 5px;
}
.form {
  margin-bottom: 10px;
}

.active {
  text-decoration: none;
  color: #272244;
}
.active:hover {
  cursor: default;
}
